<a href="https://colab.research.google.com/github/CoolerKula/Model-Quality-and-Improvements---Independent-Project/blob/main/Model_Quality_and_Improvements_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Statement**

As a data professional working for a pharmaceutical company, you need to develop a
model that predicts whether a patient will be diagnosed with diabetes. The model needs
to have an accuracy score greater than 0.85.
You will be required to document the following steps:

● Data Importation

● Data Exploration

● Data Cleaning

● Data Preparation

● Data Modeling (Using Decision Trees, Random Forest and Logistic Regression)

● Model Evaluation

● Hyparameter Tuning

● Findings and Recommendations

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,confusion_matrix
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

### **DATA IMPORTATION**

In [ ]:
#Data importation
data = pd.read_csv("https://bit.ly/DiabetesDS")
data

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

### **DATA EXPLORATION**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

### **DATA CLEANING AND PREPARATION**

In [ ]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

### **DATA MODELING**

In [ ]:
target = data['Outcome']

features = data.drop(['Outcome'], axis=1)

features_train, features_valid, target_train, target_valid = train_test_split(

    features, target, test_size=0.25, random_state=12345
)

In [ ]:
datalist = data.columns.values.tolist()
datalist
#datalist.remove("Outcome")

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [ ]:
#data_scaled =['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
#        'DiabetesPedigreeFunction', 'Age']

#scaler = StandardScaler()
#scaler.fit(features_train[data_scaled])
#pd.options.mode.chained_assignment = None
#features_train[data_scaled] = scaler.transform(features_train[data_scaled])

In [ ]:
model = RandomForestClassifier(random_state=12345)
        
model.fit(features_train,target_train)

model.score(features_valid, target_valid)

0.796875

In [ ]:
model = DecisionTreeClassifier(random_state=12345)
        
model.fit(features_train,target_train)

model.score(features_valid, target_valid)

0.78125

In [ ]:
model = LogisticRegression(random_state=12345)
        
model.fit(features_train,target_train)

model.score(features_valid, target_valid)

0.828125

In [ ]:
predictions_valid = model.predict(features_valid)
accuracy_score(target_valid, predictions_valid)

0.828125

### **MODEL** **EVALUATION**

In [ ]:
print("Confusion Matrix : \n",confusion_matrix(target_valid, predictions_valid))

Confusion Matrix :
 [[125   7]
 [ 26  34]]

In [ ]:
print(' f1 score: ',f1_score(target_valid, predictions_valid)*100,'\n')
print(' Accuracy: ',accuracy_score(target_valid, predictions_valid)*100,'\n')
print(' precision score: ',precision_score(target_valid, predictions_valid)*100,'\n')
print(' recall score: ',recall_score(target_valid, predictions_valid)*100,'\n')
print(" Classification report: \n",classification_report(target_valid, predictions_valid))

 f1 score:  67.32673267326732

 Accuracy:  82.8125

 precision score:  82.92682926829268

 recall score:  56.666666666666664

 Classification report:
               precision    recall  f1-score   support

           0       0.83      0.95      0.88       132
           1       0.83      0.57      0.67        60

    accuracy                           0.83       192
   macro avg       0.83      0.76      0.78       192
weighted avg       0.83      0.83      0.82       192

### **HYPARAMETER TUNING**

In [ ]:
#Hyparameter Tuning
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [ ]:
for depth in range(1, 6):
        model = DecisionTreeClassifier(max_depth=depth)

        model.fit(features_valid, target_valid)

        predictions_valid = model.predict(features_valid)
        accuracy_score(target_valid, predictions_valid)

        print("max_depth =", depth, ": ", end='')
        print(accuracy_score(target_valid, predictions_valid))

max_depth = 1 : 0.7864583333333334
max_depth = 2 : 0.8229166666666666
max_depth = 3 : 0.8541666666666666
max_depth = 4 : 0.8958333333333334
max_depth = 5 : 0.9375

### **FINDINGS AND RECOMMENDATIONS**

LogisticRegression is the best model for the predictions